*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(images/1d9bbefd9aac39d9c43900193cffee29.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.icon span{
    margin-top: -40px;
    font-size: 20px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: roboto;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-left: -100px;
    margin-top: 15px;
}
.menu{
    width: 100px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 30px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: roboto;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    font-size: 25px;
}
ul li a:hover{
    color: orange;
}
.search{
    width: 330px;
    margin-left: 990px;
}
.srch{
    font-family: roboto;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 15px;
    color: white;
    border-right: none;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

}
.btn:hover{
    color: aqua;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: roboto;
    letter-spacing: 1.2px;
    line-height: 3cqi;
}
.content h1{
    font-family: roboto;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content .cn{
    width: 160px;
    height: 50px;
    background-color: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease white;

}
.content .cn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: roboto;
    transition: 0.3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 400px;
    background: rgba(0, 0, 0, 0.315);
    position: absolute;
    top: -20px;
    left: 1000px;
    border-radius: 10px;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    margin: 0px; */


}
.form h2{
    width: 250px;
    font-size: roboto;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 4.5px;
    padding: 8.5px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: roboto;
}
::placeholder{
    color: white;
    font-family: roboto;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4 ease white;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;


}
.form .link{
    margin-top: 30px;
    font-size: 20px;
    font-family: roboto;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    margin: 30px;
    color: #ff7200;
    text-decoration: none;
    font-style: italic;
}
.liw{

    padding: 15px;
    text-align: center;
}
.liw .bx{
    padding: 5px;
}